<div class="top-bg md-accent-bg"></div>
<div class="center layout-column flex" layout="row">
    <div flex="30" layout-align="center start">
        <h1>Cross-Area Craigslist Search</h1>
    </div>
    <div flex="" layout="column" layout-align="end start">
        <!-- areas and Start Scan button-->
        <md-input-container class="md-block">
            <label>areas</label>
            <input required type="search" name="input" ng-model="input"/>
        </md-input-container>
        <div flex="" layout="row" layout-align="end start">
            <!-- areas and Start Scan button-->
            <md-input-container class="md-block">
                <label>search</label>
                <input required type="search" name="query" ng-model="query"/>
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="search()">Search</md-button>
        </div>
    </div>
</div>

<md-card class="test" style="padding-left:10px;padding-right: 10px">
    <h4>
        {{areas.length}} area{{areas.length != 1 ? 's' : ''}},
        {{total}} result{{total != 1 ? 's' : ''}}
    </h4>
</md-card>

<div class="results">
    <md-card style="padding: 10px" ng-repeat="area in areas">
        <div layout="row" layout-align="space-between center">
            <h3>{{area}}</h3>
            <md-button class="md-primary" ng-click="toggleArea(area)">Toggle Area</md-button>
        </div>
        <md-grid-list ng-hide="hidden[area]" md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="5"
                      md-row-height-gt-md="1:1"
                      md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
            <md-grid-tile style="background: url('{{i.pics[0]}}') center center no-repeat; background-size: cover;"
                          ng-repeat="i in results[area] track by $index">

                <button class="hide-icon" ng-click="hideResult(area, i)"></button>
                <a href="http://{{i.url}}" class="fill-div"></a>
                <footer>
                    <a ng-href="http://{{i.url}}">
                        <span><i>{{i.date}}</i> - {{i.title}} - <b>{{i.price}}</b> {{i.location}}</span>
                    </a>
                </footer>
            </md-grid-tile>
        </md-grid-list>
    </md-card>
</div>


